<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410339494905-4soagkdve882uh89qrkt89qr3bs97c2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410339494905-4soagkdve882uh89qrkt89qr3bs97c2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBGWr2b4VeQdVzza38Ry942rgG0Wvv7Tc4</string>
	<key>GCM_SENDER_ID</key>
	<string>410339494905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucaiatropulus.BudgetedUIKit</string>
	<key>PROJECT_ID</key>
	<string>budgeteduikit</string>
	<key>STORAGE_BUCKET</key>
	<string>budgeteduikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410339494905:ios:f2a4ae3e11df987ff54b28</string>
</dict>
</plist>